#page-room {
  header {
    border-bottom: 1px solid #e2e2e2;
    padding: 24px;
    
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1120px;
      margin: 0 auto;

      > img {
        max-height: 45px;
      }
    }
  }

  main {
    margin: 0 auto;
    max-width: 800px;

    .room-title {
      display: flex;
      align-items: center;
      margin: 32px 0 24px;

      h1 {
        color: #29292e;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
      }

      span {
        background: #e559f9;
        border-radius: 9999px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        margin-left: 16px;
        padding: 8px 16px;
        
      }
    }

    form {
      textarea {
        background: #f2f2f2;
        border: 0;        
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        min-height: 130px;
        padding: 16px;
        resize: vertical;
        width: 100%;
      }

      .form-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            border-radius: 50%;
            height: 32px;
            width: 32px;
          }

          span {
            color: #29292e;
            margin-left: 8px;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          color: #737380;
          font-size: 14px;
          font-weight: 500;
          
          button {
            background: transparent;
            border: none;
            color: #835afd;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
          }
        }
      }
    }
  }
}