.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  // This style is used only if it's inside the another question
  & + .question {
    margin-top: 8px;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }
      
      span {
        color: #737380;
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }
}